@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* base.html */


html {
    height: 100%;
    background: #E5E4E2;
}

body {
    margin: 0px;
    height: 100%;
    background: 900
}

h1 {
    font-family: "Roboto";
    font-weight: 500;
}

p {
    font-family: "Roboto";
}
hr {
    width: 70%;
    weight: 5px;
}

.center-h {
    font-size: 48px;
    text-align: center;
    margin-bottom: 35px;
}

.colorful-text {
    color: #3f48cc;
}

main {
    margin: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.navbar {
    background-color: #fff;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: fixed; top: 0; left: 0; width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}


.navbar a {
    text-decoration: none;
    padding: 15px;
    padding-top: 25px;
    display: block;
    text-align: center;
    color: black;
    transition: ease .2s;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: #3f48cc;
}

.navbar li{
    float: left;
}


.footer {
    flex: 0 0 auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-top: 0px;
    background-color: #474A51;
    color: #fff;
}


.footer ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.logo {
    height: 50px;
    margin-right: 30px;
}
#logo {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contacts {
    margin-left: auto;
    margin-right: 50px;
    margin-top: 5px;
    font-size: 15px;
}

.contact {
    display: flex;
    margin-top: 2px;

}

.contact img {
    height: 18px;
    margin-right: 3px;
}

.contacts_footer {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 18px;
}

.contacts_footer img {
    height: 21px;
    margin-right: 4px;
}

/* content */

.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
    background: #fff;
}

.content-block {
    margin-top: 50px;
}

.content-box {
    padding: 15px 25px;
    margin-top: 20px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

/* main-headline */

.selling-headline {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    padding: 80px 50px;
    background: #fff;
}

#b-selling {
    font-weight: 500;
    font-size: 58px;
}

#s-selling {
    font-size: 18px;
    color: #A5A5A5;
    margin-top: -50px;
}

.btn-selling-headline {
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #3f48cc;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 30px;
  display: inline-block;
  transition: ease .3s;
}

.btn-selling-headline:hover {
    margin-top: 25px;
    box-shadow: 0px 11px 13px 14px rgba(0, 79, 140, 0.34);
    background-color: #fff;
    color: #3f48cc;
}


/* about-us */

.reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

.reason {
    margin: auto;
}

.reason p {
    color: #828282;
    margin-top: -20px;
}

.reason img {
    margin-right: auto;
    margin-left: auto;
}

/* service */

.services li {
    font-weight: 500;
    font-size: 24px;
}

.btn-selling-bottom {
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #3f48cc;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: ease .3s;
}

.btn-selling-bottom:hover {
    margin-top: 25px;
    box-shadow: 0px 11px 13px 14px rgba(0, 79, 140, 0.34);
    background-color: #fff;
    color: #3f48cc;
}


/* Адаптивная верстка под ноутбуки */


@media screen and (max-width: 1300px) {
    .navbar ul{
        padding-left: 10px;
        margin-left: 0px;
    }

    .navbar a {
        font-size: 18px;
    }

    .logo {
        margin-right: 0px;
        margin-top: 10px;
        height: 40px;
    }
}