{% extends 'base.html' %}

{% block content %}
<div class="selling-headline content-block">
            <p id="b-selling">Реализуем<br>Ваш проект</p>
            <p id="s-selling">Повышаем продуктивность<br>без лишних расходов</p>
            <a class="btn-selling-headline" href="https://t.me/ArseniiSorokin">Напишите нам</a>
            <img src="{{ url_for('static', filename='img/selling-bg.png') }}" alt="selling-bg" style="float: right; width: 350px; margin-top: -260px; margin-right: 40px;">
        </div>
        <div class="content">
            <div class="content-block">
                <div class="content-box">
                    <h1 id="services" class="center-h">Наше предложение</h1>
                    <ol>
                        <li>Поможем с Excel</li>
                        <li>Напишем макросы в Microsoft Office</li>
                        <li>Доработаем Ваш сайт</li>
                        <li>Настроим парсинг сайтов</li>
                        <li>Разработаем Веб-приложение для автоматизации бэк-офиса</li>
                        <li>Разработаем автоматизацию обновления БД сайта</li>
                        <li>Разработаем и запустим торговый робот</li>
                        <li>Интеграция и написание чат-ботов</li>
                        <li>Индивидуальная разработка инструментов бизнес-анализа</li>
                        <li>Консультации по IT</li>
                    </ol>
                    <ol>
                        <p class="service-down" style="font-weight: 500;">В наших решениях мы используем такие технологии как:</p>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>React</li>
                        <li>Excel</li>
                        <li>Visual Basic for Applications</li>
                        <li>Docker</li>
                        <li>Apache2</li>
                        <li>И другие</li>
                    </ol>
                </div>
            </div>

            <div class="content-block">
                <div class="content-box">
                    <h1 id="algorithm" class="center-h">Алгоритм разработки</h1>
                    <ol style="font-weight: 500;">
                        <li>Погружение в Вашу задачу</li>
                        <li>Формирование целей и видения конечного результата</li>
                        <li>Расчет трудозатрат в человеко-часах</li>
                        <li>Коммерческое предложение</li>
                        <li>Разработка</li>
                        <li>Тестирование и доработка</li>
                        <li>Интеграция</li>
                        <li>Оплата</li>
                        <li>Поддержка и развитие проекта</li>
                    </ol>
                </div>
            </div>

            <div class="content-block">
                <div class="content-box">
                    <h1 id="about-us" class="center-h">О нас</h1>
                    <ol>
                    <p style="font-weight: 500;">Мы - молодая IT-команда, которая быстро растёт и развивается. В нашем штате всё больше профессионалов,
                        которые набирают всё больший опыт работы. Нас можно легко описать тремя вещами:</p>
                    </ol>
                    <br>
                    <div class="reasons">
                                <div class="reason">
                                    <img src="{{ url_for('static', filename='img/about-us/cup.png') }}" alt="cup">
                                    <h2>Качество</h2>
                                    <p>Мы - профессионалы<br>своего дела</p>
                                </div>

                                <div class="reason">
                                    <img src="{{ url_for('static', filename='img/about-us/scales.png') }}" alt="scales">
                                    <h2>Низкая цена</h2>
                                    <p>Лучшее соотношение<br>цена-качество на рынке</p>
                                </div>


                                <div class="reason">
                                        <img src="{{ url_for('static', filename='img/about-us/racecar.png') }}" alt="racecar">
                                        <h2>Скорость</h2>
                                        <p>Быстро реализуем<br>Ваш проект</p>
                                </div>
                        </div>
                    </div>
            </div>

            <div class="content-block">
                <div class="content-box">
                    <h1 id="examples" class="center-h">Наши работы</h1>
                    <ol>
                        <li>Интернет магазин <a href='https://imrend.com'>imrend.com</a></li>
                        <li>Веб-приложение интернет магазина</li>
                        <li>Парсинг сайта <a href="https://b2b.marvel.ru/">b2b.marvel.ru</a></li>
                        <li>Большое количество макросов VBA, повышающих эффективность работы бэк-офиса</li>
                        <li>Разработка и тестирование различных торговых роботов для Binance</li>
                    </ol>
                </div>
            </div>

            <a class="btn-selling-bottom" href="https://t.me/ArseniiSorokin">Напишите нам</a>

        </div>{% endblock %}